@font-face {
    font-family: 'archangelskregular';
    src: url('fontsarchangelsk_regular-webfont.woff2') format('woff2'),
        url('archangelsk_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}